[Unit]
Description=DingoCar OLED user interface
After=network.target

[Service]
ExecStart=/home/pi/play/ai/dingocar/utility/dingo_env.sh dingo_ui.py
WorkingDirectory=/home/pi/play/ai/dingocar/utility
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
